<div id="container">
  <header>
    <a href="/logout">Logout</a>
  </header>
  <div id="main">
    <div id="column1">
      <h1>Checkout your Routines!</h1>
      <ul>
        <% @workouts.each do |workout| %>
          <li><a href="/workouts/<%= workout.id %>"><%= workout.name %></a>
          <form action="/workouts/<%= workout.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove">
          </form>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="sidebar">
      <a href="/workouts/new">Add a new workout!</a>
    </div>
  </div>
  <footer>
  this is the footer
  </footer>
</div>
