<div id="container">
  <header>
    <h2>GOWO<h2>
    <h3>Login | <a href="/signup">Signup</a></h3>
    <form class="ologin" action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required/>
      <label for="password">Password:</label>
      <input type="password" name="password" required/>
      <br>

      <input type="submit" name="Login" />
    </form>
  </header>
  <div id="main">
    <img src="http://produmbbellworkouts.com/wp-content/uploads/2012/12/dumbbell-rack2.jpg">
  </div>
  <footer>
  Lyman Wong | <a href="http://localhost:9393">Home</a> | <a href="http://lymanwong.github.io/blog-posts/week9_cultural.html">Blog</a>
  </footer>
  </div>
</div>
