body, html {
  height: 100%;
}

.col-sm-3 {
  height: 300px;
}
#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
}

body{
  background-image: url("../img/Bookshelf.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#head_nav {
  background-color: #222222;
  border-color: #080808;
}

#signin label {
  color: white;
}

#signin {
  margin-top: 75px;
}

footer a {
  color: grey;
}

#footer-body {
  margin-left:33%;
}

.book {
  background-color: rgba(34, 34, 34, 0.55);
  color: white;
  margin-bottom: 20px;
}

.book img {
  padding: 20px 10px;
}

#library {
  background-color: rgba(34, 34, 34, 0.55);
  color: white;
  padding: 10px;
}

#google-btn {
  width: 200px;
  margin-top: 5px;
}

.add-book, .remove-book {
  margin-bottom: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}